body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #064b5e;

  font-size: 28px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: underline;
  margin-top: 8px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;

  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}
.weather-app {
  border: 1px solid purple;
  border-radius: 10px;
  padding: 25px;
  background: linear-gradient(
    67.7deg,
    rgb(252, 185, 125) -0.9%,
    rgb(245, 231, 106) 22.8%,
    rgb(160, 236, 208) 50.3%,
    rgb(57, 178, 209) 75.5%,
    rgb(183, 174, 193) 100.2%
  );
}
.wrapper {
  max-width: 650px;
  margin: 45px auto;
}
.overview {
  margin-bottom: 20px;
  color: #318da7;
}
.weather-icon img {
  margin-right: 12px;
  width: 70px;
  height: 70px;
}
.weather-icon strong {
  line-height: 1;
  font-size: 64px;
  position: relative;
  top: 15px;
}
.unit {
  font-size: 15px;
  position: relative;
  bottom: 20px;
}
#metric {
  text-decoration: none;
  color: black;
  cursor: default;
}
#imperial {
  text-decoration: none;
  color: black;
  cursor: default;
}
.extras {
  position: relative;
  top: 25px;
}
